{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Question {{qn}}
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

<div class="well well-lg">
    <div>
        You are offered CHF {{Constants.q2endowment}}, and you can either keep it or use some or all of it to play the
        following game. A fair die
        with 3 sides in blue and 3 sides in red is rolled. If the die lands on red, you receive double the amount used
        to
        play the game, otherwise you lose that amount.
    </div>
    <div>
        How much of your CHF {{Constants.q2endowment}} endowment do you choose to keep and how much do you use to play
        the
        game?
    </div>
</div>
{{form}}
<br>
{% next_button %}

{% endblock %}
